@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

@font-face {
  font-family: Metropolis;
  src: url("resources/metropolis.regular.otf") format("opentype");
}
@font-face {
  font-family: Metropolis-Thin;
  src: url("resources/metropolis.thin.otf") format("opentype");
}
@font-face {
  font-family: Diabolik;
  src: url("resources/DangerDiabolik.ttf") format("truetype")
}


* {
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  /* font-family: "Comic Neue", cursive; */
  font-family: "Metropolis", "Helvetica",sans-serif;
  /* font-family: "Metropolis-Thin", "Helvetica",sans-serif; */
  /* font-family: "Metropolis"; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  /* overflow: hidden; */
  margin: 0;
}

form, input, textarea, .bigbutton {
  font-family: inherit;
}

h1 {
  font-size: 40px;
  /* font-family: "Diabolik"; */
}

textarea {
  resize: none;
  /* font-size: 14px; */
}


.mag-container {
  background-color: lightblue;
  display:flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  /* border-radius: 25px; */
  padding: 30px;
  /* width: 100%;
  height: 100%; */
  align-items: center;
  justify-content: center;
  width: 460px;
  max-width: 80vw;
  /* justify-content: center; */
  border-radius: 0 0 15px 15px;
}

span.circled-fill {
  /* flex: 1 0 11%; */
  background: #e3e3e3;
  border-radius: 10%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  /* color: #414141; */
  display: inline-block;
  /* font-weight: bold; */
  line-height: 30px;
  margin: 5px;
  text-align: center;
  width: 30px;
  cursor: pointer;
  transition: ease 100ms;
  user-select: none;
}

.circled-fill.clicked {
  /* todo reduce with inheritance */
  background-color: #3a849c;
  color: lightgrey;
  font: bold;
}

.circled-fill:hover {
  background-color: #64adc5 !important;
  color: lightgrey;
  font: bold;
}

.input50 {
  font-size: 15px;
  line-height: 1.5;
  color: #3a3a3a;
  display: block;
  width: 90%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 10px 45px;
  margin-bottom: 10px;
  outline: none;
  overflow: visible;
  border: none;
  /* transition: border 1000ms; */
}

.alert-validate {
  border: 2px solid #c53535;
}
.alert-validate::placeholder {
  color: #c53535;
  font-style: bold;
}

form.add-mags {
  display:flex;
  flex-direction: column;
  align-items: center;
  /* width: 50vw; */
  /* background-color: darkgrey; */
  margin-bottom: 20px;
  justify-content: center;
  
}

.form-title {
  padding-bottom: 30px;
}

.bigbutton {
  font-size: 15px;
  line-height: 1.5;
  color: #3a849c;
  background-color: lightblue;
  border-radius: 25px;
  padding: 10px 45px;
  margin: 10px;
  margin-top: 0px;
  width: 90%;
  height: 50px;
  justify-content: center;
  transition: 400ms;
  outline: none;
  border: none;
  font-weight: bolder;
  /* border: 2px solid #64adc5; */
  /* border-color: cyan; */
}

 
.bigbutton::before{
  content: "\2b";
  font-family: FontAwesome;
  /* display: block; */
  position: relative;
  font-size: 15px;
  top: 0px;
  left: -10px;
  /* top: 50%; */
  /* left: -30%; */
  font-weight: 700;
}



.bigbutton:hover {
  background-color: #64adc5;
  color: #fff;
}

.mag-block {
  display: inline-block;
  box-shadow: 0 0 4px 4px rgba(0,0,0,0.1);
  margin-bottom: 25px;
  border-radius: 15px;
}

.tools {
  display: inline;
  background-color: #64adc5;
  display: flex;
  justify-content: center;
  color: #fff;
  border-radius: 15px 15px 0 0;
}

.tools h4 {
  margin: 10px;
}

.tools button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  /* font-size: 1rem; */
  margin-left: 0.5rem;
}




/* .alert-validate {
  visibility: visible;
  content: "Campo richiesto";
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  right: 20vw;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
} */